body {
    margin:0 auto;
    max-width:1200px
    background-color:white;
}
#begin {
    margin: 0 auto;
    max-width:1500px;
    height:700px;
    background-image:url("../background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
}
.navbar-inverse{
    margin-bottom:0;
}

.first-heading{
    font-size:25px;
    color:White;
}
#my-own-photo {
    width:275px;
    height:320px;
}

.headering {
    margin-top:0;
    font-size:25px;
    font-family: 'Holtwood One SC', serif;
    display:flex;
    justify-content:center;
}
.h1 {
    margin:0;
    max-width:1500px;
    background-color:#d1d3d3;
}
#skills {
    width: 100%;
    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
#about-me {
    padding-left: 15%;
}
main {
    margin:0 auto;
    max-width:600px;
}
.text{
    font-family: 'Handlee', cursive;
    font-size:20px;
    display:flex;
    flex-direction:column;
    padding-left:5px;
}
#personal-name {
    font-size:45px;
}
#screen {
    border: 2px double white;
    background-color:rgba(30,30,30,0.5);
}
.skills-style{
    padding:0;
    font-family: sans-serif;
    font-size: 16px;
    width: 50px;
}
.section{
    margin:20px 0;
    background-color:white;
      
}
#social-network{
    display:flex;
    justify-content:center;
}
.favicons {
    padding-right:5px;
    height:45px;
    width:auto;
}
#contacts {
    font-size:15px;
    padding:30px;
    color:white;
    opacity:1.0;
    display:flex;
    align-items:center;
}
footer {
    margin:0 auto;
    max-width:600px;
    height:300px;
    background-color:rgb(56, 56,56);
    background-position:center;
    display:flex;
    flex-direction:column-reverse;
    align-items:center;
    
}
#contacts {
    font-size:15px;
    padding:30px;
    color:white;
    flex-direction:column;
    align-items:center;
}
.form {
    color:black;
    display:flex;
    align-items:flex-end;
    flex-direction:column;
}
.second-image-container {
    width:350px;
    height:250px;
}
.image-container {
    margin:0 auto;
    max-height:100px;
    min-height:100px;
    width:auto;
    display:flex;
    justify-content:center;
}
#my-skills {
    margin-right:35px;
    background-color:white;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.gallery-1 {
    display:flex;
    flex-direction:column;
    align-items:center;
}
 

